<html>
<head>
<title>display table</title>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
ul {
    margin: 0;
    padding: 0;
    text-align: center
}
li {
    display: inline;
    list-style: none; 
}
a
{
    display:inline-block;
    margin-right: -4px;
    width:120px;
    text-align:right;
    padding:4px;
    color:blue;
}
a:link {
    text-decoration: black;
    color:blue;
}

a:visited {
    text-decoration: blue;
}
</style>
</head>
<body>
<b>MIT Student Database<b> <a href="/student">Enter a student</a>
<br>
<br>
<table style="width:100%">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>School Name</th>
    <th>Student ID #</th>
    <th>Email</th>
    <th>Image Path</th>
    <th>Delete?</th>
  </tr>
{% for row in data %}
  <tr>
    <th>{{ row.first_name }} </th>
    <th>{{ row.last_name }}</th> 
    <th>{{ row.school_name }}</th>
    <th>{{ row.student_id }}</th>
    <th>{{ row.email }}</th>
    <th><img src="/image?path={{ row.image_path }}"></th>
    <th>
    	<form action="/student/delete" method="post">
  			<button type="submit" name="primary_key" value="{{ row.id }}">Yes</button>
		</form>
	</th>
  </tr>
{% endfor %}
</table>
</body>
</html>