<html>
<head>
<title>input student</title>
</head>
<body>
<form action="student" method="post" enctype = "multipart/form-data">
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  School name:<br>
  <input type="text" name="schoolname"><br>
  Student ID #:<br>
  <input type="text" name="studentid"><br> 
  Student Email #:<br>
  <input type="text" name="email"><br>
  Student Photo:<br>
  <input type="file" name="file" accept="image/*"><br><br>
  <input type="submit" value="Upload">
</form>
</body>
</html>